# Unity build/system folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Ss]06-*DoNotShip*/
.utmp/

# IDE & Tools
.vs/
*.sln
*.csproj
.gradle/
.idea/
UserSettings/

# Android & IL2CPP
*.apk
*.aab
*.unitypackage

# Debug & Cache
*.vsidx
sysinfo.txt

# OS Generated
.DS_Store
Thumbs.db
