# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
.utmp/
.vs/
.gradle/
.idea/

# Build artifacts
*.apk
*.aab
*.unitypackage

# Crash and cache
*.vsidx
sysinfo.txt

# OS
.DS_Store
Thumbs.db
